target/
build/
.gradle/
bin/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.settings/
.classpath
.project
gradle.properties
build.gradle
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle